<section class="contact">
	<div class="contact__container">
		<h3 class="default__title">Faça agora sua adesão</h3>
		<form action="" class="contact__form">
			<div class="form-gap">
				<div class="input_wrap">
					<input type="text" required />
					<label><img src="./assets/person.svg" alt="" /> Nome</label>
				</div>
				<div class="input_wrap">
					<input type="tel" required />
					<label><img src="./assets/phone.svg" alt="" /> Telefone</label>
				</div>
				<div class="input_wrap">
					<input type="email" required />
					<label><img src="./assets/mail.svg" alt="" /> E-mail</label>
				</div>
			</div>
			<button type="submit" class="button">enviar formulário</button>
		</form>
	</div>
</section>
