<section class="resources">
	<div class="resources__container">
		<h2 class="default__title" data-aos="fade-down" data-aos-delay="300">Para quem é o plano de assinatura?</h2>
		<p class="default__desc" data-aos="fade-down" data-aos-delay="300">Para qualquer pessoa com <span>imóvel próprio</span> ou <span>alugado</span>, seja:</p>

		<div class="resources__content">
			<div class="card-resources" data-aos="fade-right" data-aos-delay="300">
				<div class="card-resources__icon"><img src="./assets/casa.svg" alt="" /></div>
				<p class="default__desc">Casa</p>
			</div>
			<div class="card-resources" data-aos="fade-right" data-aos-delay="300">
				<div class="card-resources__icon"><img src="./assets/apt.svg" alt="" /></div>
				<p class="default__desc">Apartamento</p>
			</div>
			<div class="card-resources" data-aos="fade-right" data-aos-delay="300">
				<div class="card-resources__icon"><img src="./assets/pessoas.svg" alt="" /></div>
				<p class="default__desc">Empresas, comércios e condomínios</p>
			</div>
		</div>
	</div>
</section>
