<section class="testimonials">
	<div class="testimonials__container">
		<div class="tag">
			<p class="tag__text">depoimentos</p>
		</div>
		<h3 class="default__title">VEJA QUEM JÁ ESTÁ ECONOMIZANDO COM A GENTE!</h3>

		<div class="testimonials__content">
			<div class="testimonials__card">
				<p class="testimonials__text">Dário Júnior</p>
				<p class="testimonials__place">Hortifruti Bem-estar</p>
				<p class="testimonials__card--text">
					"Um projeto que foi planejado durante algum tempo, e só foi possível sua realização graças ao empenho e profissionalismo da Detronic Energia. Só temos
					que agradecer o empenho de todos que realizaram com excelência e qualidade todas as etapas e superaram todas as expectativas! Parabéns a todos e vamos
					para a próxima!"
				</p>
			</div>
			<div class="testimonials__card">
				<p class="testimonials__text second">Eleonora Mhyrra</p>
				<p class="testimonials__card--text">
					"Estou bastante satisfeita com a minha adesão à Detronic. O desconto é real, e convenhamos, qualquer economia nesses tempos complicados, já vale a
					pena! Outro fator que me influenciou a aderir à Detronic, foi a possibilidade de uso de energia alternativa, como energia solar, o que sempre quis
					fazer, mas por falta de espaço, nunca tive essa oportunidade."
				</p>
			</div>
			<div class="testimonials__card">
				<p class="testimonials__text">Edilene Lott</p>
				<p class="testimonials__place">Comercial Água Marinha</p>
				<p class="testimonials__card--text">
					"Não tem muito tempo que uso o serviço da Detronic mas já estou economizando consideravelmente na conta de luz. Estamos satisfeitos com o serviço e
					com a economia certa. Redução na despesa fixa é tudo que uma empresa precisa na economia do Brasil."
				</p>
			</div>
		</div>
	</div>
</section>
